/* =============
    Demo
============= */

#svg-hw{
    display: grid;
    grid-template-columns: auto 40% auto;
    grid-template-areas: ". icon .";

    >div{
        grid-area: icon;
        border: 3px solid aqua;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            width: 50%;
        }
    }
}